.service {
    background-image: url('../../../../assets/image/bgColor/bg_additional_services.png');
    /* background-color: rgba(128, 128, 128, 0.323); */
    padding: 60px 0;
    background-size: 100vw;
    /* height: 500px; */
    background-repeat: no-repeat;
}


@media (min-width: 319.98px) and (max-width: 767.98px) {
    .service {
        background-image: none;
        background-color: rgba(128, 128, 128, 0.323);
    }
}