.spin_logo {
    animation: w3-spin 2s infinite
}

@keyframes w3-spin {
    0% {
        transform: rotateY(0deg)
    }

    100% {
        transform: rotateY(360deg)
    }
}

.nav_btn {
    color: #EF3A24;
    text-decoration: none;
    padding: 4px;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
}

.nav_btn:hover {
    color: white;
    background-color: #EF3A24;
    padding: 8px;
    border-radius: 8px;
}

.footer_bg {
    background-color: #0e3e1e27;
}

.copyright_text {
    color: #0E3E1E;
}



.nav_img {
    width: 260px;
}

.lan_btn {
    width: 10px;
}

.navlogo {
    width: 30%;
}

.nav_bg {
    background-color: #C0B6C1;
    /* background-color: #667695; */
}



/* start dropdown menu list */
.dropdown-menu li {
    position: relative !important;
}

.dropdown-menu .dropdown-submenu {
    display: none !important;
    position: absolute !important;
    left: 100% !important;
    top: -7px !important;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100% !important;
    left: auto !important;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block !important;
}

/* end dropdown menu list */





@media (min-width: 320px) and (max-width: 768px) {
    .nav-margin {
        margin: 10px 0;
    }
}