.nav_btn {
    color: #EF3A24;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
}

.nav_btn:hover {
    color: rgb(6, 6, 6);
    background-color: #EF3A24;
    padding: 8px;
    border-radius: 10px;
}

.footer_bg {
    background-color: #0e3e1e27;
}

.copyright_text {
    color: #0E3E1E;
}



.nav_img {
    width: 260px;
}

.lan_btn {
    width: 10px;
}

.navlogo {
    width: 30%;
}

.nav_bg {
    background-color: rgba(135, 207, 235, 0.399);
}


@media (min-width: 320px) and (max-width: 768px) {
    .nav-margin {
        margin: 10px 0;
    }
}