.bgDownloadApp{
    background-color: rgba(194, 246, 194, 0.267);
}
.appImage{
    width: 230px;
}

.appTextHead{
    font-size: 60px;
    line-height: 63px;
}

.AndroidStore{
    width: 200px;
}





@media (min-width: 1440px) {
     
  }
  
  @media (min-width: 1024px) and (max-width: 1439px) {
           
  }
  
  @media (min-width: 768px) and (max-width: 1023.98px) {
    
    .appImage{
        width: 185px;
    }
    
    .appTextHead {
        font-size: 40px;
        line-height: 43px;
    }
    
    .AndroidStore{
        width: 200px;
    }
     
  }
  
  
  @media (min-width: 320px) and (max-width: 767.98px) {
   
    .appImage{
        width: 142px;
    }
    
    .appTextHead {
        font-size: 33px;
        line-height: 36px;
    }    
    
     
  }
  @media (min-width: 320px) and (max-width: 424.98px) { 
    
    .AndroidStore{
        width: 116px;
    }
    .appTextHead {
        font-size: 22px;
        line-height: 27px;
}
}