.carouselImage {
    width: 260px;
}


.card-title {
    color: #db0075;
}

.card-text {
    color: #17E6E6;
}

.list-inline-item {
    color: #ffd700
}

.price {
    color: #9B1B30;
}

.btn-pink {
    background-color: #fcb2b2 !important;
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.popular-location {
    margin: 100px 0;
}



.location-bg {
    /* background-color: white; */
    background-image: url('../../../../assets/image/bgColor/bg_popular_location.png');
    background-size: 100vw;
    /* height: 850px; */
    background-repeat: no-repeat;
}

/* .location_heading {
    color: #EF3A24;
    font-size: 45px;
}

.location_heading2 {
    color: #EF3A24;
    font-size: 35px;
} */

.carousel-control-next-icon,
.carousel-control-prev-icon {}


@media (min-width: 320px) and (max-width: 992px) {
    .popular-location {
        margin: 50px 0;
    }
}

.sliderNextIcon,
.sliderPrevIcon {
    display: inline-block !important;
    width: 2rem !important;
    height: 2rem !important;
    background-repeat: no-repeat !important;
    background-position: 50% !important;
    background-size: 100% 100% !important;
    background-color: #746346 !important;
    /* padding: 10px !important; */
    border-radius: 25px !important;
    margin: 230px 23px 0px 23px;
}

@media (min-width: 1440px) and (max-width: 2559.98px) {

    .sliderNextIcon,
    .sliderPrevIcon {
        margin: 112px 10px 0px 10px;
    }
}

@media (min-width: 1200px) and (max-width: 1439.98px) {

    .sliderNextIcon,
    .sliderPrevIcon {
        margin: 85px 10px 0px 10px;
    }
}

@media (min-width: 1024px) and (max-width: 1199.98px) {

    .sliderNextIcon,
    .sliderPrevIcon {
        margin: 85px 10px 0px 10px;
    }
}

@media (min-width: 992px) and (max-width: 1023.98px) {

    .sliderNextIcon,
    .sliderPrevIcon {
        margin: 85px 10px 0px 10px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

    .sliderNextIcon,
    .sliderPrevIcon {
        margin: 85px 10px 0px 10px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

    .sliderNextIcon,
    .sliderPrevIcon {
        margin: 85px 5px 0px 5px;
    }
}

@media (min-width: 425px) and (max-width: 575.98px) {

    .sliderNextIcon,
    .sliderPrevIcon {
        margin: 150px 13px 0px 13px;
    }
}

@media (min-width: 320px) and (max-width: 424.98px) {

    .sliderNextIcon,
    .sliderPrevIcon {
        margin: 95px 15px 0px 15px;
    }
}