.popular-location {
    margin: 100px 0;
}


@media (min-width: 320px) and (max-width: 992px) {
    .popular-location {
        margin: 50px 0;
    }
}

.location-bg {
    background-color: rgba(251, 8, 8, 0.168)
        /* background-image: url('../../assets/image/plane/aeroplane.jpg'); */
        /* background-size: 100vw;
    height: 850px;
    background-repeat: no-repeat; */
}