.subs_bg {
    padding: 50px 0;
    background-image: url('../../../../assets/image/bgColor/bg_additional_services.png');
    background-size: 100vw;
    /* height: 500px; */
    /* background-repeat: no-repeat; */
}