.userProfile {
    background-color: rgb(244, 240, 233);
}

.updateProfile {
    background-color: rgb(234, 229, 238);
    border-radius: 15px;
}

.profileImg {
    width: 150px;
    border-radius: 15px;
}