.banner {
    background-image: url('../../assets/image/NagAirBanner.png');
    /* background-size: 100vw; */
    /* width: 100%; */
    height: 600px;
    background-repeat: no-repeat;
}

@media (min-width: 320px) and (max-width: 992px) {
    .banner {
        background-image: url('../../assets/image/NagAirBanner.png');
        background-size: 100vh;
        height: 830px;
        background-repeat: no-repeat;
    }

}

.flight-search {
    background-color: rgba(255, 255, 255, 0.267);
    background-size: 100vw;
    background-repeat: no-repeat;
}


.nag_heading {
    /* color: #D61355 */
    /* color: #A61F69 */
    /* color: #CDE990 */
    /* color: #FFC3A1 */
}