@font-face {
  font-family: "ArthausBold";
  src: url(fonts/ArthausBold.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2 {
  /* font-family: 'ArthausBold'; */
  color: white;
}

h5,
h6,
p {
  /* font-family: 'ArthausBold'; */
  font-size: 18px;
}


/* custom_link {
  color: rgb(229, 13, 13);
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

custom_link:visited {
  text-decoration: none;
  color: rgb(30, 3, 93)
}


custom_link:hover {
  color: green;
  text-shadow: 0px 0px 30px #fdec6e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
} */


.custom_btn {
  /* background-color: #C0B6C1; */
  color: #EF3A24;
  text-decoration: none;
  padding: 8px;
  border-radius: 10px;
  border: 0;
  font-weight: bold;
}

.custom_btn:hover {
  color: white;
  background-color: #EF3A24;
  padding: 8px;
  border-radius: 8px;
}


/* .custom_btn:active {
  background: rgb(13, 170, 78);
}

.custom_btn:focus {
  background: rgb(34, 0, 255);
} */